# Eclipse
*/.classpath
*/.project
*/.settings
/.metadata

# Maven
*/target

# Other
/eSuite.txt
/README.txt
/LICENSE.txt

#Private Components
/eminingworld
/eshorturl
/emultiend
/ebackup
/multiserver
/estarterguide